body
{
    background: rgb(245, 245, 245);
}
nav:hover
{
    background: white;
}
nav{
    border-bottom: 1px solid rgb(180, 180, 180);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    height: 70px;
    align-items: center;
    margin-bottom: 50px;
    transition: 0.3s;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: inherit;
    transition: 0.2s;
    cursor: pointer;
}
a:hover{
    color: rgb(0, 126, 42);
}
.container
{
    display: grid;
    justify-items: center;
    grid-row-gap: 50px;
    transition: 0.2s;
}
.tags
{
    display: flex;
}
.tags > .tag
{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
}
.tag > a:hover
{
    text-decoration: underline;
}
.images
{
    display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  grid-auto-rows: 500px;
}
@media only screen and (max-width: 600px) {
    .images
    {
        grid-template-columns: repeat(2, 1fr);
    }
  }
@media only screen and (min-width: 601px) {
    .images
    {
        grid-template-columns: repeat(3, 1fr);
    }
  }
@media only screen and (min-width: 850px) {
    .images
    {
        grid-template-columns: repeat(4, 1fr);
    }
  }
.image
{
    display: grid;
    grid-template-rows: 1fr 0.1fr 0.2fr 0.2fr;
    height: 500px;
    justify-items: center;
    margin-bottom: 15px;
}
.photo
{
    cursor: pointer;
    transition: 0.3s;
}
.photo:hover
{
    -webkit-filter: brightness(80%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 0.3s ease;
}
.image-title a
{
    font-size: 40px;
}
.load-more button
{
    height: 50px;
    width: 250px;
    background: none;
    color: black;
    border: solid 1px black ;
    cursor: pointer;
    transition: 0.2s;
}
.load-more button:hover
{
    background:black;
    color: white;
}

body
{
    background: rgb(245, 245, 245);
}
nav:hover
{
    background: white;
}
nav{
    border-bottom: 1px solid rgb(180, 180, 180);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    height: 70px;
    align-items: center;
    margin-bottom: 50px;
    transition: 0.3s;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: inherit;
    transition: 0.2s;
    cursor: pointer;
}
.sign-up-image
{
    width: 350px;
}
a:hover{
    color: rgb(0, 126, 42);
}
.scontainer
{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}
@media only screen and (max-width: 600px) {
    .scontainer
    {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
  }
.affiche
{
    position: relative;
}
.text-affiche
{
    font-size: 70px;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    background: black;
}
.cright
{
    justify-items: center;
    padding-top: 50px;
    padding-left: 15px;
}
.cright > form {
    display: grid;
    grid-row-gap: 15px;
    grid-auto-rows: minmax(min-content, max-content);
}
.cright > form > input[type="text"],input[type="password"]
{
    height: 50px;
    width: 90%;
    padding-left: 15px;
    background: rgb(245, 245, 245);
    border: 1px solid black;
}
input[type="submit"]
{
    height: 50px;
    width: 90%;
    background: none;
    color: black;
    border: solid 1px black ;
    cursor: pointer;
    transition: 0.2s;
}
input[type="submit"]:hover
{
    background:black;
    color: white;
}
button
{
    height: 50px;
    width: 90%;
    background: none;
    color: black;
    border: solid 1px black ;
    cursor: pointer;
    transition: 0.2s;
}
button:hover
{
    background:black;
    color: white;
}

footer
{
    height: 300px;
    width: 100%;
    background: rgb(224, 224, 224);
    display: grid;
    align-items: center;
    margin-top: 50px;
}
footer > .contacts
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    justify-items: center;
    text-align: center;
}
footer > .contacts > div 
{
    display: grid;
    grid-template-rows: 1fr 0.5fr;
}
footer > .contacts > div:first-of-type(div)
{
    font-weight: bold;
    font-size: 30px;
    color: white;
}
.modal
{
    height: 70%;
    width: 70vw;
    position: fixed;
    left: 50%;
    top: -50%;
    transform: translate(-50%,-50%);
    z-index: 2000;
    transition: 0.3s;
    border: solid black 1px;
    background: white;
}
.modal-body
{
    height: 100%;
    width: 100%;
    position: relative;
}
.modal-close
{

    position: absolute;
    left: 15px;
    top: 15px;
    font-size: 40px;
    color: black;
    cursor: pointer;
    transition: 0.3s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.modal-close:hover
{
    color: whitesmoke;
}
.overlay
{
    height: 100vh;
    width: 100vw;
    background-color: black; 
    opacity: 0.3;
    z-index: 1000;
    
    display: grid;
    justify-items: center;
    align-items: center;
    display: none;
}